-current_user.groups.each do |group|
  .contents__sidebar--post
    =link_to group_messages_path(group),class:"link" do
      .contents__sidebar--post--group
        =group.name
      .contents__sidebar--post--last
        メッセージはまだありません