.right__main--post{data:{message_id:message.id}}
  .right__main--post--upper
    %b.right__main--post--upper--name
      =message.user.name
    .right__main--post--upper--time
      =message.created_at.strftime("%Y/%m/%d %H:%M")
  .right__main--post--comment
    - if message.content.present?
      %p.lower-message__content
        =message.content
    = image_tag message.image.url,class:"comment_image" if message.image.present?