.contents__main--field
  .contents__main--field--post
    .contents__main--field--post--user
      test-user
    .contents__main--field--post--time
      2019/10/29(Tue) 14:54:51
  .contents__main--field--comment
    こんにちは