.header
  .header__top
    =render partial:"layouts/notifications"
  .header__left
    .header__left--user
      =current_user.name
    .header__left--button
      =link_to root_path do
        =fa_icon 'edit',class:"link"
      =link_to edit_user_path(current_user) do
        =fa_icon 'cog',class:"link"
  .header__right
    .header__right--group
      .header__right--group--name
        test-group
      .header__right--group--member
        Member:test-user
    =link_to root_path,class:"link__edit" do
      .header__right--edit
        Edit
.contents
  .contents__sidebar
    =render partial:"group"
  .contents__main
    = render partial: "post"
    .contents__main--footer
      %input.contents__main--footer--input{:type=>"textarea",:placeholder=>"type a message"}
      %label.contents__main--footer--icon
        =fa_icon "image lg"
        %input.icon{:type=>"file",:name=>"image"}
      =link_to root_path,class:"link__send" do
        .contents__main--footer--button
          Send

