.contents
  =render "shared/side_bar"
  .right
    .right__header
      .right__header--group
        .right__header--group--name
          =@group.name
        .right__header--group--member
          Member:
          -@group.users.each do |user|
            =user.name
      .right__header--edit
        =link_to edit_group_path(@group) do
          .right__header--edit--button
            Edit
    = render partial: "main_chat"
    .right__footer
      =form_for [@group,@message] do |f|
        .right__footer--box
          =f.text_field :content,class:"right__footer--box--input",placeholder: "type a message"
          =f.label :image,class:"icon" do
            =fa_icon "image lg",class:"icon1"
            =f.file_field :image,class:"icon2"
        =f.submit "Send",class:"right__footer--submit"
